<!DOCTYPE html>
<html layout:decorate="~{layouts/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <div style="text-align: center;">
        <div class="status-badge closed">
            <span class="status-dot"></span>
            <span class="status-text">Closed</span>
        </div>
    </div>

    <div class="block">
        <p class="block-title">What</p>
        <p>Community-operated space for tinkering, building, and sharing knowledge about technology.</p>
    </div>

    <div class="block">
        <p class="block-title">Where</p>
        <p>35 rue du Chemin de Fer<br>Differdange, Luxembourg</p>
    </div>

    <div class="block">
        <p class="block-title">When</p>
        <p>Tuesdays 20:00 onwards<br>+ whenever the door's open</p>
    </div>

    <div class="block">
        <p class="block-title">Links</p>
        <div class="links">
            <a href="https://wiki.syn2cat.lu">Wiki</a>
            <a href="https://github.com/syn2cat">GitHub</a>
            <a href="mailto:info@syn2cat.lu">Contact</a>
        </div>
    </div>
</div>
</body>
</html>